**
!Dockerfile
!LICENSE
!NOTICE
!admin/
admin/**
!admin/*.py
!admin/requirements.lock
!admin/schema/
admin/schema/**
!admin/schema/*.sql
!admin/ui/
admin/ui/**
!admin/ui/*.html
!admin/ui/*.css
!admin/ui/*.js
!content/
content/**
!content/*.json
!research/
research/**
!research/resources.json
!talk2nature/
talk2nature/**
!talk2nature/*.py
